<%- include('../partials/header') %>
  <ul>
    <% todos.forEach(function(t) { %>
      <li>
        <form 
        action="../todos/id %>?_method=DELETE" 
        class="delete-form" 
        method="POST">
          <button type="submit">X</button>
        </form>
        <a href="../todos/<%= t.id %>"><%= t.todo %></a>
        -
        <%= t.done ? 'done' : 'not done' %>
      </li>
      <% }); %>
  </ul>

  <%- include('../partials/footer') %>